.settings-page{
    padding-bottom: $space-16;
    @include media-breakpoint-down(md) {
        padding-top: $space-14;
    }
    // @include media-breakpoint-down(xl) {
    //     padding-top: $space-6;
    //   }
    .container{
        @include media-breakpoint-up(xl) {
            max-width: 1064px;
        }
    }
    .btn-close{
        min-width: $sizes-8;
        width: $sizes-8;
        height: $sizes-8;
        font-size: $fontSizes-sm;
    }
}
